@model SIMS.Web.Models.Student

@{
    ViewData["Title"] = "Create Student";
}

<h1>Create Student</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Student_Id" class="control-label"></label>
                <input asp-for="Student_Id" class="form-control" />
                <span asp-validation-for="Student_Id" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Fname" class="control-label">First Name</label>
                        <input asp-for="Fname" class="form-control" />
                        <span asp-validation-for="Fname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Gender" class="control-label"></label>
                        <select asp-for="Gender" class="form-control">
                            <option value="">-- Select Gender --</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="ProgramOfStudy" class="control-label">Program of Study</label>
                        <select asp-for="ProgramOfStudy" class="form-control" asp-items="ViewBag.ProgramOfStudy">
                            <option value="">-- Select Program --</option>
                        </select>
                        <span asp-validation-for="ProgramOfStudy" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="TOA" class="control-label">Type of Admission</label>
                        <select asp-for="TOA" class="form-control">
                            <option value="">-- Select Type --</option>
                            <option value="Regular">Regular</option>
                            <option value="Distance">Distance</option>
                            <option value="Evening">Evening</option>
                        </select>
                        <span asp-validation-for="TOA" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Accommodation" class="control-label"></label>
                        <select asp-for="Accommodation" class="form-control">
                            <option value="">-- Select Option --</option>
                            <option value="On Campus">On Campus</option>
                            <option value="Off Campus">Off Campus</option>
                        </select>
                        <span asp-validation-for="Accommodation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="YOA" class="control-label">Year of Admission</label>
                        <input asp-for="YOA" class="form-control" value="@DateTime.Now.Year" />
                        <span asp-validation-for="YOA" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="AccNum" class="control-label">Account Number</label>
                        <input asp-for="AccNum" class="form-control" />
                        <span asp-validation-for="AccNum" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <input type="hidden" asp-for="RegStatus" value="0" />
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}